Source: azmq
Priority: optional
Maintainer: Eero af Heurlin <eero.afheurlin@iki.fi>
Build-Depends: debhelper (>= 8.0.0), cmake, libzmq3-dev, libboost-all-dev
Standards-Version: 3.9.4
Section: libs
Homepage: https://github.com/zeromq/azmq
Vcs-Git: https://github.com/zeromq/azmq.git
Vcs-Browser: https://github.com/zeromq/azmq

Package: azmq-dev
Section: libdevel
Architecture: any
Depends: libzmq3-dev, libboost-all-dev
Description: Boost Asio + ZeroMQ: development files
  The azmq library provides Boost Asio style bindings for ZeroMQ
  .
  This library is built on top of ZeroMQ's standard C interface and is intended to work well with C++ applications which use the Boost libraries in general, and Asio in particular.
  .
  The main abstraction exposed by the library is azmq::socket which provides an Asio style socket interface to the underlying zeromq socket and interfaces with Asio's io_service(). The socket implementation participates in the io_service's reactor for asynchronous IO and may be freely mixed with other Asio socket types (raw TCP/UDP/Serial/etc.).
